

.bodie {
  height: 100vh;
  background-image: url("../assets/images/autocam branding.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}