.service-card {
    background: white;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    border: 1px solid #ddd;
  }
  
  .service-card:hover {
    transform: scale(1.05);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.15);
  }
  
  .arrow-link {
  
    margin: 50px;
    margin-left: 90px;
    margin-right: 90px;
    padding: 10px 10px;
    text-align: center;
    background: #659dd5;
    border-radius: 10px;
  }
  
  .modal.show {
    display: block;
    background: rgba(0, 0, 0, 0.5);
  }
  .bodi {
  position: relative;
  z-index: 1;
  min-height: 100vh;
  overflow: hidden;
}

/* Blur background layer */
.bodi::before {
  content: "";
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  background-image: url('../assets/images/autocam branding.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  filter: blur(2px); /* Adjust blur here */
  z-index: -1;
   
}